@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #e5ecea;
  --sidebar-bg-color: #409b8c;
  --home-bg-color: #409b8c;
  --searchbar-active-bg-1-color: #409b8c;
  --searchbar-active-bg-2-color: #d6f0e0;
  --searchbar-inactive-bg-1-color: #409b8c;
  --searchbar-inactive-bg-2-color: #ebd2b3;
  --searchbar-profile-active-bg-1-color: #409b8c;
  --searchbar-profile-active-bg-2-color: #d6f0e0;
  --searchbar-profile-inactive-bg-1-color: #409b8c;
  --searchbar-profile-inactive-bg-2-color: #ebd2b3;
  --createcharity-bg-color: #409b8c;
  --activefundcard-bg-color: #d6f0e0;
  --inactivefundcard-bg-color: #f5e1c9;
  --text-color: #031222;
  --text-color-white: #ffffff;
  --custombuttom-text-color: #ffffff;
  --createCharity1-text-color: #d2dad9;
  --createCharity2-text-color: #2d2d2d;
  --icon-bg-color: #409b8c;
  --active-icon-bg-color: #e5ecea;
  --countbox-active-1-color: #409b8c;
  --countbox-active-2-color: #73afa2;
  --countbox-inactive-1-color: #409b8c;
  --countbox-inactive-2-color: #eda479;
  --targetloading-active-bg-1-color: #84dfcb;
  --targetloading-active-bg-2-color: #409b8c;
  --targetloading-inactive-bg-1-color: #409b8c;
  --targetloading-inactive-bg-2-color: #eda479;
  --donatortext-color: #000000;
  --donatetocharity1-bg-color: #409b8c;
  --donatetocharity2-bg-color: #73afa2;
  --icons-active-charity-details: #409b8c;
  --icons-inactive-charity-details: #409b8c;
  --profile-bg-color: #409b8c;
  --text-color-profile-active: #216e5e;
  --profile-buttom-bg-color: #37bb9e;
  --placeholder-color: #446b6e;
  --border-color-form: #dddde7;
  --swal-background-color: #409b8c;
  --swal-text-color: #f6faf8e7;
  --swal-title-error-color: #e74c3c;
  --swal-title-warning-color: #f3bb62;
  --swal-title-success-color: #05140b;
  --swal-confirm-button-color: #a18167;
  --box-shadow: 9px 9px 9px rgb(166, 204, 201);
  --box-2-shadow: 9px 9px 9px rgb(166, 204, 201);
  --breathing-shadow: 1px 1px 5px 8px #409b8c;
  --breathing-shadow-mobile-sidebar: 1px 1px 5px 3px #e5ecea;
}

[data-theme="dark"] {
  --background-color: rgb(27, 97, 88);
  --sidebar-bg-color: #0c3d32;
  --createcharity-bg-color: #0c3d32;
  --activefundcard-bg-color: #608b71;
  --inactivefundcard-bg-color: #d3ad7c;
  --home-bg-color: #0c3d32;
  --searchbar-active-bg-1-color: #0c3d32;
  --searchbar-active-bg-2-color: #608b71;
  --searchbar-inactive-bg-1-color: #0c3d32;
  --searchbar-inactive-bg-2-color: #d3ad7c;
  --searchbar-profile-active-bg-1-color: #0c3d32;
  --searchbar-profile-active-bg-2-color: #37bb9e;
  --searchbar-profile-inactive-bg-1-color: #0c3d32;
  --searchbar-profile-inactive-bg-2-color: #ed732d;
  --text-color: #ffffff;
  --text-color-white: #ffffff;
  --custombuttom-text-color: #cfffe3;
  --createCharity1-text-color: #ffffff;
  --createCharity2-text-color: #ffffff;
  --icon-bg-color: #0c3d32;
  --active-icon-bg-color: rgb(27, 97, 88);
  --countbox-active-1-color: #0c3d32;
  --countbox-active-2-color: #2d816f;
  --countbox-inactive-1-color: #0c3d32;
  --countbox-inactive-2-color: #ed732d;
  --targetloading-active-bg-1-color: #0c3d32;
  --targetloading-active-bg-2-color: #2d816f;
  --targetloading-inactive-bg-1-color: #0c3d32;
  --targetloading-inactive-bg-2-color: #ed732d;
  --donatortext-color: #b2b3bd;
  --donatetocharity1-bg-color: #0c3d32;
  --donatetocharity2-bg-color: #2d816f;
  --icons-active-charity-details: #0c3d32;
  --icons-inactive-charity-details: #0c3d32;
  --profile-bg-color: #0c3d32;
  --text-color-profile-active: #0c3d32;
  --profile-buttom-bg-color: #37bb9e;
  --placeholder-color: #4b6264;
  --border-color-form: #ffffff;
  --swal-background-color: #0c3d32;
  --swal-text-color: #f6faf8e7;
  --swal-title-error-color: #fd0000;
  --swal-title-warning-color: #ed732d;
  --swal-title-success-color: #62a85c;
  --swal-confirm-button-color: #a18167;
  --box-shadow: 9px 9px 9px rgb(14, 71, 67);
  --box-2-shadow: 9px 9px 9px rgb(14, 71, 67);
  --breathing-shadow: 1px 1px 5px 8px #0c3d32;
  --breathing-shadow-mobile-sidebar: 1px 1px 5px 3px rgb(27, 97, 88);
}

.custom-swal-popup-error {
  background-color: var(--swal-background-color);
  color: var(--swal-text-color);
}

.custom-swal-title-error {
  color: var(--swal-title-error-color);
}

.custom-swal-confirm-button-error {
  background-color: var(--swal-confirm-button-color);
  color: var(--swal-text-color);
}

.custom-swal-popup-warning {
  background-color: var(--swal-background-color);
  color: var(--swal-text-color);
}

.custom-swal-title-warning {
  color: var(--swal-title-warning-color);
}

.custom-swal-confirm-button-warning {
  background-color: var(--swal-confirm-button-color);
  color: var(--swal-text-color);
}

.custom-swal-popup-success {
  background-color: var(--swal-background-color);
  color: var(--swal-text-color);
}

.custom-swal-title-success {
  color: var(--swal-title-success-color);
}

.custom-swal-confirm-button-success {
  background-color: var(--swal-confirm-button-color);
  color: var(--swal-text-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  display: inline-block;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.fade-in.visible {
  animation-name: fadeIn;
}

@keyframes breathing {
  0% {
    transform: scale(1);
    box-shadow: unset;
  }
  50% {
    transform: scale(1.3);
    box-shadow: var(--breathing-shadow);
  }
  100% {
    transform: scale(1);
    box-shadow: unset;
  }
}

@keyframes breathing-mobile-sidebar {
  0% {
    transform: scale(1);
    box-shadow: unset;
  }
  50% {
    transform: scale(1.3);
    box-shadow: var(--breathing-shadow-mobile-sidebar);
  }
  100% {
    transform: scale(1);
    box-shadow: unset;
  }
}

.box {
  transition: 0.5s ease;
  box-shadow: var(--box-shadow);
}

.box:hover {
  transform: scale(1.03);
}

.box-2 {
  transition: 0.5s ease;
  box-shadow: var(--box-2-shadow);
}

.box-2:hover {
  transform: scale(1.03);
}

.box-profile {
  transition: 0.5s ease;
}

.box-profile:hover {
  transform: scale(1.03);
}
.home-bigimage {
  transition: 0.5s ease;
  width: 100%;
}

@media (max-width: 640px) {
  .home-bigimage {
    width: 100%;
    height: 100%;
  }
}

.home-bigimage:hover {
  transform: scale(1.02);
}

/* @media (min-width: 1000px) and (max-width: 1124px) {
  .container-custom-width {
    max-width: 97%;
  }
} */

@media (min-width: 1265px) and (max-height: 720px) {
  .container-custom-width {
    max-width: 96%;
  }
}

@media (min-width: 1281px) {
  .container-custom-width {
    max-width: 100%;
  }
}

/* .home-donate-buttom{
  position: absolute;
  bottom: 150px; 
  left: 420px; 
  padding: 0.5rem 10rem; 
  border-radius: 0.375rem; 
  cursor: pointer;
} */

.charityphoto img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 640px) {
  .charityphoto img {
    height: 190px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header {
  font-size: 1.25rem;
  background-color: var(--text-color);
  margin-bottom: 1rem;
}

.image {
  width: 80%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  .container {
    flex-direction: row;
  }

  .image {
    width: 50%;
    margin-bottom: 0;
  }
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 640px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .photo-item {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .photo-item {
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 1124px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .photo-item {
    width: 100%;
  }
}

.sidebar {
  transition: 0.5s ease;
  box-shadow: var(--box-shadow);
  border: var(--box-border);
}

.sidebar:hover {
  transform: scale(1.02);
}

.links:hover {
  transform: scale(1.3) rotateY(180deg);
}

.links {
  transition: transform 0.5s ease;
}

.themetoggleicon:hover {
  transform: scale(1.3);
}

.themetoggleicon {
  transition: transform 0.5s ease;
}

.logo {
  animation: breathing 4s ease-out infinite;
  border: var(--box-border);
}

.logo-mobile {
  animation: breathing-mobile-sidebar 4s ease-out infinite;
  border: var(--box-border);
}

.searchBar {
  transition: 0.3s ease;
}

.searchBar:focus-within {
  box-shadow: var(--box-shadow);
  border: var(--box-border);
}

.profile-bar {
  transition: 0.5s ease;
  box-shadow: var(--box-shadow);
  border: var(--box-border);
}

.home-bar {
  transition: 0.5s ease;
  box-shadow: var(--box-shadow);
  border: var(--box-border);
}

.custom-buttom {
  transition: 0.5s ease;
}

.custom-buttom:hover {
  transform: scale(1.03);
}
.count-box {
  transition: 0.5s ease;
  box-shadow: var(--box-shadow);
}

.create-charity-bar {
  transition: 0.5s ease;
  box-shadow: var(--box-shadow);
  border: var(--box-border);
}

.profile-button {
  transition: 0.5s ease;
}

.profile-button:hover {
  transform: scale(1.03);
}

.fundcard-text {
  transition: 0.5s ease;
}

.fundcard-text:hover {
  transform: scale(1.1);
}

.fundcard-text-exception {
  transition: 0.5s ease;
}

.fundcard-text-exception:hover {
  transform: scale(1.03);
}

.charitydetails-text {
  transition: 0.5s ease;
}

.charitydetails-text:hover {
  transform: scale(1.07);
}

.charitydetails-text-nb {
  transition: 0.5s ease;
}

.charitydetails-text-nb:hover {
  transform: scale(1.03);
}

.icons {
  transition: 0.5s ease;
}

.icons:hover {
  transform: scale(1.3);
}

.icons-charitydetails {
  transition: 0.5s ease;
}

.icons-charitydetails:hover {
  transform: scale(1.2);
}

.responsive-text {
  font-size: 18px;
}

@media (max-width: 640px) {
  .responsive-text {
    font-size: 12px;
  }
}

.responsive-text-title {
  font-size: 22px;
}

@media (max-width: 640px) {
  .responsive-text-title {
    font-size: 14px;
    font: bold;
  }
}

@media (max-width: 640px) {
  .fundcard-text-exception {
    font-size: 8px;
  }
}

@media (max-width: 640px) {
  .fundcard-text {
    font-size: 12px;
  }
}

@media (min-width: 640px) and (max-width: 1124px) {
  .fundcard-text-exception {
    font-size: 8px;
  }
}

@media (min-width: 640px) and (max-width: 1124px) {
  .fundcard-text {
    font-size: 9px;
  }
}

@media (max-width: 640px) {
  .charitydetails-text {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .charitydetails-text-2 {
    font-size: 9px;
  }
}

@media (max-width: 640px) {
  .charitydetails-text-3 {
    font-size: 13px;
  }
}

@media (max-width: 640px) {
  .image-custom {
    height: 200px;
  }
}

@media (max-width: 640px) {
  .image-custom-2 {
    padding-top: 0px;
  }
}

@media (max-width: 640px) {
  .countbox-custom {
    width: 130px;
  }
}

@media (max-width: 640px) {
  .custom-buttom-responsive-text {
    font-size: 11px;
  }
}
@media (max-width: 640px) {
  .responsive-text-title-inner {
    font-size: 13px;
    margin-bottom: 25px;
  }
}

.mobile-navbar {
  display: none;
}
.default-navbar {
  padding-right: 13px;
}

@media (min-width: 640px) {
  .default-navbar {
    display: flex;
  }
}

@media (max-width: 640px) {
  .default-navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1000;
    padding-bottom: 20px;
  }

  .mobile-navbar > * {
    flex: 1;
    padding: 10px;
  }
}

@media (max-width: 640px) {
  .main-content {
    padding-top: 60px;
  }
}

@media (max-width: 640px) {
  .profile-responsive {
    flex-direction: column;
    align-items: center;
  }
}

.loading-dots {
  display: inline-flex;
  align-items: center;
}

.dot {
  width: 0.3em;
  height: 0.3em;
  background-color: white;
  border-radius: 50%;
  margin: 0 0.2em;
  animation: dot-blink 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dot-blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
